## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [13]:
import random
from random import sample

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [133]:
range(100)

range(0, 100)

In [134]:
sample_list_1 = random.sample(range(100),80)
sample_list_1

[73,
 71,
 21,
 79,
 94,
 4,
 40,
 29,
 37,
 53,
 62,
 87,
 7,
 85,
 66,
 18,
 48,
 56,
 82,
 35,
 16,
 8,
 45,
 54,
 41,
 67,
 27,
 6,
 0,
 69,
 61,
 13,
 19,
 60,
 93,
 57,
 34,
 24,
 17,
 31,
 72,
 15,
 74,
 14,
 98,
 63,
 36,
 43,
 12,
 44,
 2,
 49,
 59,
 64,
 90,
 1,
 52,
 55,
 38,
 33,
 81,
 20,
 58,
 25,
 70,
 95,
 89,
 88,
 11,
 22,
 65,
 92,
 5,
 42,
 78,
 91,
 32,
 77,
 96,
 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [135]:
set1 = set(sample_list_1)
print(len(set1))
#Yes the length is still 80.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [46]:
randoms = randrange(100)

34

In [54]:
from random import randrange 
sample_list_2 = list()
count = 0 
for s in sample_list_1:
    sample_list_2.append(randrange(100))
    count += 1
    if count == 80:
        break
print(sample_list_2)

[35, 55, 41, 74, 88, 57, 80, 73, 5, 3, 35, 98, 23, 53, 2, 74, 63, 0, 94, 62, 11, 58, 40, 31, 38, 22, 78, 83, 38, 9, 42, 12, 33, 62, 69, 48, 47, 25, 98, 37, 40, 84, 58, 19, 35, 6, 48, 80, 63, 20, 96, 74, 10, 42, 35, 42, 22, 43, 89, 97, 15, 66, 99, 69, 40, 39, 68, 41, 73, 56, 22, 42, 25, 28, 87, 52, 63, 46, 13, 17]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [55]:
set2 = set(sample_list_2)
print(len(set2))
#No, the lenght of the set is below 80 as its elements can be repeated. Sets by default don't count repeated elements.
#This means the length of a set that has repeated values will be always lower than the same one having unique values.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [62]:
set3 = set1 - set2
print(set3)

{7, 8, 14, 16, 27, 32, 34, 36, 44, 45, 49, 50, 51, 54, 59, 60, 61, 65, 67, 70, 71, 75, 76, 77, 81, 82, 85, 86, 90, 91, 92, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [56]:
set4 = set2 - set1
print(set4)

{99, 5, 10, 42, 15, 88, 28, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [58]:
set5 = set2 & set1
print(set5)

{0, 2, 3, 6, 9, 11, 12, 13, 17, 19, 20, 22, 23, 25, 31, 33, 35, 37, 38, 39, 40, 41, 43, 46, 47, 48, 52, 53, 55, 56, 57, 58, 62, 63, 66, 68, 69, 73, 74, 78, 80, 83, 84, 87, 89, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [78]:
print('Set 1, 80 unique numbers, so its length is',len(set1))
print('Set 2, 80 numbers that may not be unique, so its length is',len(set2),', which is less than 80.')
print('Set 3 is the numbers available only on Set 1, and not in Set 2 its length is',len(set3))
print('Set 4 is the numbers available only on Set 2, not in Set 1, its length is',len(set4),'which is smaller than Set 3.')
print('Set 5 is the union of both Set 1 and Set 2, common numbers, its length is',len(set5),'which is the same as the total number of Set1 and Set2 minus their exclusive -Set3 and Set 4-')

Set 1, 80 unique numbers, so its length is 80
Set 2, 80 numbers that may not be unique, so its length is 56 , which is less than 80.
Set 3 is the numbers available only on Set 1, and not in Set 2 its length is 32
Set 4 is the numbers available only on Set 2, not in Set 1, its length is 8 which is smaller than Set 3.
Set 5 is the union of both Set 1 and Set 2, common numbers, its length is 48 which is the same as the total number of Set1 and Set2 minus their exclusive -Set3 and Set 4-

#### Create an empty set called `set6`.

In [96]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [101]:
set6 = set()
set6.update(set3,set5)
print(set6)

{0, 2, 3, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 19, 20, 22, 23, 25, 27, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [103]:
if set1 == set6:
    print('Those sets are equal!')
else: print(':( not equal)')

Those sets are equal!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [111]:
print('Checking if set2 is a subset of set1......')
if set2.issubset(set1):
    print('Yes! Set2 is subset of Set1')
else: print('No... Set2 is not a subset of Set1')
    
print('Checking if set3 is a subset of set1.....')
if set3.issubset(set1):
    print('Yes! Set3 is subset of Set1')
else: print('No... Set3 is not a subset of Set1')

Checking if set2 is a subset of set1......
No... Set2 is not a subset of Set1
Checking if set3 is a subset of set1.....
Yes! Set3 is subset of Set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [127]:
set345 = set()
set345.union(set3,set4,set5)
set12 = set()
set12.union(set1,set2)
if set345 == set12:
    print('Both sets are equal!')
else: print('These sets are not equal!')

Both sets are equal!

#### Using the `pop` method, remove the first element from `set1`.

In [136]:
set1.pop()

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [143]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for l in list_to_remove:
    if l in set1:
        set1.remove(l)
    else: continue
print(set1)
print('The final lenght of Set1 is:',len(set1))

{2, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 27, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 74, 77, 78, 82, 85, 87, 88, 90, 92, 93, 94, 95, 96, 98}
The final lenght of Set1 is: 63